@page "/updateTravelOrder/{id:int}"
@using Contracts.Enums
@using Microsoft.AspNetCore.Components
@using Contracts.Dto

<h2>Update Travel Order Form</h2>

@if (TravelOrderUpdateDto != null)
{
    <EditForm EditContext="_editContext" OnValidSubmit="Update" class="card card-body bg-light mt-5">
        <DataAnnotationsValidator />

        <div class="form-group row">
            <label for="EmployeeId" class="col-md-2 col-form-label">Employee ID:</label>
            <div class="col-md-10">
                <div class="form-group row">
                    <RadzenLabel Component="DropDownDataGridColumns" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenDropDownDataGrid @bind-Value=@TravelOrderUpdateDto.EmployeeId Data=@EmployeeList TextProperty="Surname" ValueProperty="Id"
                                            AllowColumnResize="true" AllowFilteringByAllStringColumns="true" Name="DropDownDataGridColumns">
                        <Columns>
                            <RadzenDropDownDataGridColumn Property="Name" Title="Name" Width="200px" />
                            <RadzenDropDownDataGridColumn Property="Surname" Title="Surname" Width="100px" />
                        </Columns>
                    </RadzenDropDownDataGrid>
                </div>
                <ValidationMessage For="@(() => TravelOrderUpdateDto.EmployeeId)"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="StartPlaceCityId" class="col-md-2 col-form-label">Start Place City Id:</label>
            <div class="col-md-10">
                <div class="form-group row">
                    <RadzenLabel Component="DropDownDataGridColumns" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenDropDownDataGrid @bind-Value=@TravelOrderUpdateDto.StartPlaceCityId Data=@CityList TextProperty="Name" ValueProperty="Id"
                                            AllowColumnResize="true" AllowFilteringByAllStringColumns="true" Name="DropDownDataGridColumns">
                        <Columns>
                            <RadzenDropDownDataGridColumn Property="Name" Title="City" Width="200px" />
                            <RadzenDropDownDataGridColumn Property="State" Title="State" Width="100px" />
                        </Columns>
                    </RadzenDropDownDataGrid>
                </div>
                <ValidationMessage For="@(() => TravelOrderUpdateDto.StartPlaceCityId)"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="EndPlaceCityId" class="col-md-2 col-form-label">End Place City Id:</label>
            <div class="col-md-10">
                <div class="form-group row">
                    <RadzenLabel Component="DropDownDataGridColumns" Style="margin-right: 8px; vertical-align: middle;" />
                    <RadzenDropDownDataGrid @bind-Value=@TravelOrderUpdateDto.EndPlaceCityId Data=@CityList TextProperty="Name" ValueProperty="Id"
                                            AllowColumnResize="true" AllowFilteringByAllStringColumns="true" Name="DropDownDataGridColumns">
                        <Columns>
                            <RadzenDropDownDataGridColumn Property="Name" Title="City" Width="200px" />
                            <RadzenDropDownDataGridColumn Property="State" Title="State" Width="100px" />
                        </Columns>
                    </RadzenDropDownDataGrid>
                </div>
                <ValidationMessage For="@(() => TravelOrderUpdateDto.EndPlaceCityId)" />
            </div>
        </div>
        <div class="form-group row">
            <label for="StartDate" class="col-md-2 col-form-label">Start Date:</label>
            <div class="col-md-10">
                <InputDate id="StartDate" class="form-control" @bind-Value="TravelOrderUpdateDto.StartDate" />
                <ValidationMessage For="@(() => TravelOrderUpdateDto.StartDate)" />
            </div>
        </div>
        <div class="form-group row">
            <label for="EndDate" class="col-md-2 col-form-label">End Date:</label>
            <div class="col-md-10">
                <InputDate id="EndDate" class="form-control" @bind-Value="TravelOrderUpdateDto.EndDate" />
                <ValidationMessage For="@(() => TravelOrderUpdateDto.EndDate)" />
            </div>
        </div>

        <div class="form-group">
            <label for="body">Select the state: </label>
            <InputSelect @bind-Value="@TravelOrderUpdateDto.State">

                @foreach (var state in Enum.GetValues(typeof(State)))
                {
                    <option value="@state">@state</option>
                }
            </InputSelect>

            <ValidationMessage For="@(() => TravelOrderUpdateDto.State)" />
        </div>

        <SfMultiSelect TValue="List<TrafficSelectedDto?>" @bind-Value="@_selectedTraffics" TItem="TrafficSelectedDto"
                       Placeholder="Traffics" PopupHeight="350px" PopupWidth="350px" DataSource="@TrafficList">
            <MultiSelectFieldSettings Text="TrafficDevice" Value="Id"></MultiSelectFieldSettings>
        </SfMultiSelect>
        
        <div class="form-group row">
            <label for="Note" class="col-md-2 col-form-label">Note:</label>
            <div class="col-md-10">
                <InputTextArea id="note" class="form-control" @bind-Value="TravelOrderUpdateDto.Note" />
                <ValidationMessage For="@(() => TravelOrderUpdateDto.Note)" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-success"
                        disabled="@_formInvalid">
                    Update
                </button>
            </div>
        </div>
    </EditForm>
    <br />
    <div class="row">
        <div class="col">
            <a href="/travelOrders" class="btn btn-success">Back</a>
        </div>
    </div>
}